body{
    color: blueviolet;
}

.navbar .collapse.navbar-collapse{
    flex-grow: inherit;

}

.navbar a{
    color: darkblue;
}

.navbar .navbar-toggler{
    border-color: darkblue;
}

.nav-link:focus, .nav-link:hover {
    color: yellow;
}

.navbar-toggler:focus{
    box-shadow: none;
}